<style>
  hr{
    margin: 0px;
    height: 5px;
    background-color: orange;
  }
  div.row{
    margin-top: 5px;
  }
  div.row>div{
    padding-right: 5px;
    padding-left: 5px;
  }
  div.col{
    padding-left: 5px;
    padding-right: 5px;
  }
  th{
    background-color: orange;
    color: white;
  }
</style>

<div class="container">
  <%# 店舗名 %>
  <div class="row">
    <div class="col-xs-12">
      <h3><%= @shop.name %>　<small><%= @shop.genre %></small></h3>
    </div>
  </div>
  <hr>
  <%# メイン画像　サイズとかあとで考える %>
  <div class="row">
    <div class="col-xs-12">
      <%= image_tag @shop.image0, class: 'img-responsive' %>
    </div>
  </div>

  <%# サブ画像 　サイズとかあとで考える%>
  <div class="row">
    <div class="col-xs-3">
      <%= image_tag @shop.image1, class: 'img-responsive' %>
    </div>
    <div class="col-xs-3">
      <%= image_tag @shop.image2, class: 'img-responsive' %>
    </div>
    <div class="col-xs-3">
      <%= image_tag @shop.image3, class: 'img-responsive' %>
    </div>
    <div class="col-xs-3">
      <%= image_tag @shop.image4, class: 'img-responsive' %>
    </div>
  </div>

  <%# メニュー・チェックインボタン %>
  <div class="row">
    <div class="col-xs-6">
      <!-- <button class="btn btn-warning btn-block">メニュー 一覧</button> -->
      <%= link_to 'メニュー 一覧', '/shops/1' , class: 'btn btn-warning btn-block' %>
    </div>
    <div class="col-xs-6">
      <!-- <button class="btn btn-success btn-block">このお店にチェックイン</button> -->
      <%= link_to 'このお店にチェックイン', '/', class: 'btn btn-success btn-block' %>
    </div>
  </div>

  <%# 地図・電話 %>
  <div class="row">
    <div class="col-xs-6">
      <%# 地図表示できるようにする %>
      <!-- <button class="btn btn-warning btn-block">地図</button> -->
      <%= link_to '地図', map_index_path, class: 'btn btn-warning btn-block' %>
    </div>
    <div class="col-xs-6">
      <%# 電話アプリ立ち上がるようにする %>
      <button class="btn btn-warning btn-block">電話</button>
    </div>
  </div>

  <%# 店舗説明 %>
  <div class="row">
    <div class="col-xs-12">
      <p><%= @shop.shop_info %></p>
    </div>
  </div>

  <%# その他店舗情報 %>
  <div class="row">
    <div class="col-xs-12">
      <table class="table table-bordered">
        <tbody>
          <tr>
            <th class="col-xs-3">営業時間</th>
            <%# 改行できるようにする、、、 %>
            <td class="col-xs-9"><%= @shop.business_time %></td>
          </tr>
          <tr>
            <th class="col-xs-3">定休日</th>
            <td class="col-xs-9"><%= @shop.shop_holiday %></td>
          </tr>
          <tr>
            <th class="col-xs-3">住所</th>
            <td class="col-xs-9"><%= @shop.address %></td>
          </tr>
          <tr>
            <th class="col-xs-3">外部リンク</th>
            <td class="col-xs-9"></td>
          </tr>
        </tbody>
      </table> 
    </div>
  </div>
</div>
